.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: 200px;
}

.caja-1{
    background-color: rgb(173, 95, 218);
    padding: 20px;
    text-align: left;
    grid-area: 1/1/3/3;
    color: white;
}

.caja-2{
    background-color: rgb(78, 139, 199);
    grid-area: 1/3/2/4;
    padding: 30px;
    text-align: left;
    
}
.caja-3{
    background-color: rgb(80, 204, 204);
    grid-area: 2/3/2/4;
    padding: 30px;
    text-align: left;
}
.caja-4{
    background-color:white;
    grid-area: 3/1/3/4;
    padding: 30px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: 200px;
}




